<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vygo Assignment Chat App - Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-text-center">
    <ion-row class="ion-text-center">
      <ion-col size="6">
        <p>Get ready for amazing conversations within this thread!</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="login()">Log in with Google!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>