<ion-infinite-scroll position="top" threshold="100px" (ionInfinite)="loadMessages($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading messages">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

<ion-list lines="none">
  <ion-item *ngIf="messages.length === 0">
    <p>There are no messages yet...</p>
  </ion-item>
  <ion-item [ngClass]="{'extra-margin': isLast, 'self-message': true}" *ngFor="let message of messages; let isLast = last">
    <ion-avatar slot="start">
      <img src="{{message.avatar}}">
    </ion-avatar>
    <ion-label>
      <h2>{{message.name}} {{ message.date | date:'short' }}</h2>
      <p>{{message.message}}</p>
    </ion-label>
  </ion-item>

  <app-chat-input (sent)="onMessage($event)" />

</ion-list>